<section data-ng-controller="FieldsController">
    <div class="page-header">
        <h1>New Field</h1>
    </div>
    <div class="col-md-12" data-ng-init="defaultForCreation()">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div>
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                        </div>
                    </div>

                    <div>
                        <label class="control-label" for="fieldComposition">Field Composition</label>
                        <div class="controls">
                            <select class="form-control" data-ng-model="fieldComposition" data-ng-options="fieldComposition as fieldComposition.name for fieldComposition in fieldCompositions">
                            </select>
                        </div>
                    </div>

                    <div>
                        <label class="control-label" for="fieldType">Field Type</label>
                        <div class="controls">
                            <select class="form-control" data-ng-model="fieldType" data-ng-options="fieldType as fieldType.name for fieldType in fieldTypes">
                            </select>
                        </div>
                    </div>

                    <div>
                        <label class="control-label" for="reservationTime">Miminum time for a reservation - {{reservationTime}} dias</label>
                        <div class="controls">
                            <input type="range" data-ng-model="reservationTime" min="0" max="30" step="1" class="">
                        </div>
                    </div>

                    <tabset vertical="false" type="tabs">
                        <tab ng-repeat="day in days | orderBy:number:reverse" active="tab.active" disabled="tab.disabled" select="daySuccess(day)">
                            <tab-heading>
                                {{day.name}}
                                <i class="glyphicon glyphicon-{{day.icon}}"></i>
                            </tab-heading>
                            <div class="col-xs-12">
                                <h2>{{day.name}}</h2>
                                <div class="form-group">
                                    <div class="col-xs-offset-2 col-xs-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" data-ng-model='day.open'> Abierto el día {{day.name}}</label>
                                        </div>
                                    </div>
                                </div>
                                <form class="form-horizontal">
                                    <div ng-show="day.open">
                                        <div class="form-group">
                                            <label class="control-label col-xs-2"></label>
                                            <div class='btn btn-info' ng-click='addSchedule(day)'> <span class='glyphicon glyphicon-plus'> </span> Agregar otro periodo </div>
                                        </div>
                                        <div ng-repeat="schedule in day.schedules">

                                            <div class="form-group">
                                                <label class="control-label col-xs-2">Hora Inicio</label>
                                                <div class="col-xs-9">
                                                    <timepicker ng-model="schedule.beggining" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="false"></timepicker>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-2">Hora fin</label>
                                                <div class="col-xs-9">
                                                    <timepicker ng-model="schedule.end" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="false"></timepicker>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-2">Valor</label>
                                                <div class="col-xs-9">
                                                    <input type="text" placeholder="Valor" ng-model="schedule.value" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group" ng-show="day.schedules.length > 1">
                                                <label class="control-label col-xs-2"></label>
                                                <div class="col-xs-9">
                                                    <div class='btn btn-danger' ng-click='removeSchedule(day,schedule)'> <span class='glyphicon glyphicon-trash'></span> Eliminar periodo </div>
                                        </div>
                                    </div>

                                    <hr/>
                            </div>

                </div>


                </form>

    </div>
    </tab>
    </tabset>



    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-success">
    </div>
    <div data-ng-show="error" class="text-danger">
        <strong data-ng-bind="error"></strong>
    </div>
    </fieldset>
    </form>
    </div>
</section>
