<section data-ng-controller="SchedulesController">
    <div class="page-header">
        <h1>New Schedule</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div>
                        <h2> Horario para la semana </h2>
                        <div>
                            <label class="control-label" for="pais">Hora Inicio</label>
                            <div class="controls">
                                <select class="form-control" data-ng-model="semana.startHour" data-ng-options="hourOption as hourOption.txt for hourOption in hoursOptions">
                                </select>
                            </div>
                        </div>

                        <div>
                            <label class="control-label" for="pais">Hora Fin</label>
                            <div class="controls">
                                <select class="form-control" data-ng-model="semana.endingHour" data-ng-options="hourOption as hourOption.txt for hourOption in hoursOptions">
                                </select>
                            </div>
                        </div>
                        
                        

                    </div>
                    <br/>
                    <div>
                        <h2> Horario para el fin de semana </h2>

                        <div>
                            <label class="control-label" for="pais">Hora Inicio</label>
                            <div class="controls">
                                <select class="form-control" data-ng-model="finde.startHour" data-ng-options="hourOption as hourOption.txt for hourOption in hoursOptions">
                                </select>
                            </div>
                        </div>

                        <div>
                            <label class="control-label" for="pais">Hora Fin</label>
                            <div class="controls">
                                <select class="form-control" data-ng-model="finde.endingHour" data-ng-options="hourOption as hourOption.txt for hourOption in hoursOptions">
                                </select>
                            </div>
                        </div>

                        <!--div>
                            <label class="control-label" for="pais">Precio</label>
                            <div class="controls">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Precio" type="text" data-ng-model="finde.valor" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-usd"></span>
                                    </span>
                                </div>
                            </div>
                        </div-->
                    </div>


                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Crear horario">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
