<section data-ng-controller="FieldschedulesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Fieldschedules</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="fieldschedule in fieldschedules" data-ng-href="#!/fieldschedules/{{fieldschedule._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="fieldschedule.created | date:'medium'"></span>
				by
				<span data-ng-bind="fieldschedule.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="fieldschedule.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!fieldschedules.$resolved || fieldschedules.length">
    	No Fieldschedules yet, why don't you <a href="/#!/fieldschedules/create">create one</a>?
    </div>
</section>