<section data-ng-controller="FieldtypesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Fieldtypes</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="fieldtype in fieldtypes" data-ng-href="#!/fieldtypes/{{fieldtype._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="fieldtype.created | date:'medium'"></span>
				by
				<span data-ng-bind="fieldtype.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="fieldtype.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!fieldtypes.$resolved || fieldtypes.length">
    	No Fieldtypes yet, why don't you <a href="/#!/fieldtypes/create">create one</a>?
    </div>
</section>